.header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border-radius: var(--radius);
}

.info {
  display: flex;
  width: 65%;
  min-width: 65%;
}

.name, .profession {
  padding: 10px;
}

.profession {
  width: 35%;
  border-radius: var(--radius);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

.skills {
  line-height: 20px;
  list-style: none;
  padding-left: 0;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 10px;
}

@media screen and (max-width: 1200px) {
  .info {
    width: 50%;
    min-width: 50%;
  }

  .name {
    padding: 20px;
  }

  .profession {
    width: 50%;
  }
}

@media screen and (max-width: 550px) {
  .header {
    flex-direction: column;
    gap: 10px;
  }

  .info {
    width: 100%;
    min-width: unset;
  }

  .profession {
    width: 100%;
  }
 }