.contacts {
  padding: 5px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.socialLink {
  display: flex;
  align-items: center;
  gap: 10px;
}

.socialImg {
  display: block;
  width: 30px;
  height: 30px;
  fill: #cacaca;
  transition: fill 0.5s, transform 0.5s;
}

.socialLink:hover .socialImg {
  transform: translateX(-5px);
  fill: white;
}

@media screen and (max-width: 550px) {
  .socials {
    max-height: 120px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contacts {
    padding: 0;
  }
  
}
